torch==2.7.1+cu128
torchvision==0.22.1+cu128
torchaudio==2.7.1+cu128
transformers[deepspeed]==4.51.3
accelerate>=1.3.0,<=1.11.0
peft>=0.17.2,<=0.18.1
monai==1.3.0
nibabel
scipy
einops>=0.8.0
sentencepiece>=0.2.0
scikit-learn>=1.7.0
numpy==1.26.4
swanlab
tqdm
